{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/resume_details.js"></script>
<link rel="stylesheet" href="../static/styles/homepage.css"/>
{% endblock head %}
{% block body %}
{{ super() }}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center min-vh-100">
  {% if current_user.user_type == "client" %}
  <h2>My Interview</h2>
  <h3><b>Requested on:</b> {{ interview.created_at }} </h3>
  <h3><b>Status:</b> {{ interview.status }} </h3>
  <h3><b>Resume:</b> <a href="{{ interview.resume_link }}" class="btn btn-primary">Link</a></h3>
  <h3><b>Application:</b> <a href="{{ interview.application_link }}" class="btn btn-primary">Link</a></h3>
  {% if interview.status == "Scheduled" %}
  <p> {{ interview.details }}</p>
  {% endif %}
  {% elif current_user.user_type == "admin" %}
  <h3><b>Requested on:</b> {{ interview.created_at }} </h3>
  <h3><b>Requested by:</b> {{ interview.user.first_name }} {{ interview.user.last_name }} </h3>
  <h3><b>Status:</b> {{ interview.status }} </h3>
  <h3><b>Resume:</b> <a href="{{ interview.resume_link }}" class="btn btn-primary">Link</a></h3>
  <h3><b>Application:</b> <a href="{{ interview.application_link }}" class="btn btn-primary">Link</a></h3>
  {% if interview.status == "Scheduled" %}
  <p> {{ interview.details }}</p>
  {% elif interview.status == "Pending" %}
  <form id="booking" action="{{ url_for('app_views.update_interview', id=interview.id) }}" method="POST">
    <h5>Add a review</h5>
    <textarea name="details" rows="8" cols="20">
    </textarea>
    <br>
    <input type="submit" value="Add Review">
  </form>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
{% endblock body  %}
</body>
