flask
Jinja2
MarkupSafe
mysql-connector-python
mysqlclient
pep8
Pillow
protobuf
pycodestyle
requests
SQLAlchemy
urllib3
Werkzeug
flask_bcrypt
flask_login
flask_wtf
requests
sqlalchemy
email_validator
