{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/admin.js"></script>
<link rel="stylesheet" href="../static/styles/homepage.css"/>
{% endblock head %}
{% block content %}
{{ super() }}
<div class="container text-center p-3 mt-5 bg-dark text-light">
<h2>Add Administrator</h2>
<p>Enter the users email</p>
<form class="admin" action="{{ url_for('app_views.admin') }}" method="POST">
  <input type="text" name="email">
  <p>Make sure the email is registerd as a reguler user</p>
  <input type="submit" value="Add">
</form>
</div>
{% endblock %}
