<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/materialize/css/materialize.css">
    <script src="https://kit.fontawesome.com/a278e9af44.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>
      {% block title %}
      Document
      {% endblock title %}
    </title>
    {% endblock head %}
</head>
<body>
    <section>
        <nav style="background-color:white;position: fixed;z-index: 999999;">
           <div class="container">
                <img width="9%" src="../static/images/career_logo.png" class="responsive-img" alt="there is an image">
                <a href="#mobile-menu" class="sidenav-trigger">
                    <i class="material-icons black-text">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    
                    <li><a style="color: #0B2D49;" class="" href="#home">Home</a></li>
                    <li><a style="color: #0B2D49;" class="" href="#about">About</a></li>
                    <li><a style="color: #0B2D49;" class="" href="#services">Services</a></li>
                    <li><a style="color: #0B2D49;" class="" href="#blog">Blog</a></li>
                    <li><a style="color: #0B2D49;" class="" href="#team">Our Team</a></li>
                    <li><a style="color: #0B2D49;" class="" href="#Contact">Contact</a></li>
                    <li><a style="color: #0B2D49;" class="" href="newlogin.html">Login</a></li>
                    <li><a style="color: #0B2D49;" class="" href="#signup">Signup</a></li> 
                </ul>
           </div>
          
        </nav>
        <ul class="sidenav white" id="mobile-menu">
           

            <li><a style="color: #0B2D49;margin-top: 20%;" class="" href="#home">Home</a></li>
            <li><a style="color: #0B2D49;" class="" href="#about">About</a></li>
            <li><a style="color: #0B2D49;" class="" href="#services">Services</a></li>
            <li><a style="color: #0B2D49;" class="" href="#blog">Blog</a></li>
            <li><a style="color: #0B2D49;" class="" href="#team">Our Team</a></li>
            <li><a style="color: #0B2D49;" class="" href="#Contact">Contact</a></li>
            <li><a style="color: #0B2D49;" class="" href="newlogin.html">Login</a></li>
            <li><a style="color: #0B2D49;" class="" href="newsignup.html">Signup</a></li> 
        </ul>
    </section>





    <script src="static/materialize/js/jquery.js"></script>
    <script src="static/materialize/js/materialize.js"></script>
    <script>
        $('.document').ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>
