{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/homepage.js"></script>
<link rel="stylesheet" href="../static/styles/homepage.css"/>
{% endblock head %}
{% block content %}
{{ super() }}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
<h2>Request a Review</h2>

<p>Add a link to a google document containing your request</p>
<form action="{{ url_for('app_views.bookinterview') }}" method="POST">
  <label for="resume">Please Submit Resume</label>
  <textarea id="resume" name="resume_link" rows="6" cols="30"></textarea>
  <br>
  <label for="text"> Please Submit Application</label>
  <textarea id="text" name="application_link" rows="6" cols="30"></textarea>
  <br>
  <input type="submit" value="Book Interview">
</form>

</form>
</div>
{% endblock %}
