{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/resume.js"></script>
<link rel="stylesheet" href="../static/styles/homepage.css"/>
{% endblock head %}
{% block content %}
{{ super() }}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center min-vh-100">
<h2>Request a Review</h2>

<p>Add a link to a google document containing your request</p>
<form id="resume" action="{{ url_for('app_views.createresume') }}" method="POST">
  <label for="text"> Add link</label>
  <br>
  <textarea id="text" name="link" rows="6" cols="30"></textarea>
  <br>
  <input type="submit" value="Request">
</form>
</div>
{% endblock %}
