<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/materialize/css/materialize.css">
    <script src="https://kit.fontawesome.com/a278e9af44.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <section>
        <nav style="background-color:white;position: fixed;z-index: 999999;">
           <div class="container">
                <img width="9%" src="../static/images/career_logo.png" class="responsive-img" alt="there is an image">
                <a href="#mobile-menu" class="sidenav-trigger">
                    <i class="material-icons black-text">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    
                    <li><a style="color: #016273;" class="" href="#home">Home</a></li>
                    <li><a style="color: #016273;" class="" href="#about">About</a></li>
                    <li><a style="color: #016273;" class="" href="#services">Services</a></li>
                    <li><a style="color: #016273;" class="" href="#blog">Blog</a></li>
                    <li><a style="color: #016273;" class="" href="#team">Our Team</a></li>
                    <li><a style="color: #016273;" class="" href="#Contact">Contact</a></li>
                    <li><a style="color: #016273;" class="" href="/login">Login</a></li>
                    <li><a style="color: #016273;" class="" href="/signup">Signup</a></li> 
                </ul>
           </div>
          
        </nav>
        <ul class="sidenav white" id="mobile-menu">

            <li><a style="color: #016273;margin-top: 20%;" class="" href="#home">Home</a></li>
            <li><a style="color: #016273;" class="" href="#about">About</a></li>
            <li><a style="color: #016273;" class="" href="#services">Services</a></li>
            <li><a style="color: #016273;" class="" href="#blog">Blog</a></li>
            <li><a style="color: #016273;" class="" href="#team">Our Team</a></li>
            <li><a style="color: #016273;" class="" href="#Contact">Contact</a></li>
	    <li><a style="color: #016273;" class="" href="{{ url_for('app_views.login') }}">Login</a></li>
	    <li><a style="color: #016273;" class="" href="{{ url_for('app_views.signup') }}">Signup</a></li> 

        </ul>
    </section>

    <section style="background-color:#016273 ; height: 550px;"id="home" class="hide-on-small-only">
        <div class="container">
            <div style="padding-top: 5%;" class="row">
                <div style="padding-top: 5%;" class="col s12 l6 m6">
                    <h2 style="font-weight: bold;color: white;">Consultaion With Excellence And Expertise</h2>
                    <p style="color: white">we can meet both long-term and ongoing strategic IT staffing and Consulting requirement for your bussines</p>
                    <button style="text-decoration: none;width: 250px;height: 40px;border: none;" class="nbb">Get Started</button> <br> <br>
                    <button style="text-decoration: none;width: 250px;height: 40px;" class="nbbb">Learn More</button>
                </div>
                <div style="position: relative;" class="col s12 l6 m6">
                    <div style="height: 50px; width: 50px;border-radius: 25px; background-color:transparent;position: absolute;margin-top: 10%;margin-left: 20%;border: #F9B417 2px solid; " class="z-depth-2"></div>
                    <img style="margin-top: 23%;position: absolute;z-index: 9;" src="../static/img/gahgah-2.png" class="responsive-img" alt="">
                    <div style="height: 100px; width: 100px;border-radius: 50px; background-color:transparent;position: absolute;margin-top: 80%;margin-left: 80%;border: #F9B417 2px solid;" class="z-depth-2"></div>
  
                </div>
            </div>
        </div>
    </section>
    <section style="background-color:#016273 ; height: 950px;"id="home" class="hide-on-med-and-up">
        <div class="container">
            <div style="padding-top: 5%;" class="row">
               
                <div class="col s12 l6 m6">
                    <div style="position: relative;">
                        <div style="height: 50px; width: 50px;border-radius: 25px; background-color:transparent;position: absolute;margin-top: 10%;margin-left: 20%;border: #F9B417 2px solid; " class="z-depth-2"></div>
                        <img style="margin-top: 23%;position: absolute;z-index: 9;" src="../static/img/gahgah-2.png" class="responsive-img" alt="">
                        <div style="height: 100px; width: 100px;border-radius: 50px; background-color:transparent;position: absolute;margin-top: 80%;margin-left: 80%;border: #F9B417 2px solid;" class="z-depth-2"></div>
      
                    </div>
                </div><br>
                <div style="padding-top: 100%;" class="col s12 l6 m6">
                    <h2 style="font-weight: bold;color: white;">Consultaion With Excellence And Expertise</h2>
                    <p style="color: white">we can meet both long-term and ongoing strategic IT staffing and Consulting requirement for your bussines</p>
                    <button href="" style="text-decoration: none;width: 250px;height: 40px;border: none;" class="nbb">Get Started</button> <br> <br>
                    <button style="text-decoration: none;width: 250px;height: 40px;" class="nbbb">Learn More</button>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="about" style="background-color:#F5F7FC;">
        <div class="container">
            <div style="padding-top: 10%;" class="row">
            <div class="col s12 m6 l6">
                <div style="position: relative;">
                <img width="400px"style="height:400px" src="../static/img/fredrick-tendong-13aw-Pwdeqk-unsplash.jpg" class=" circle" alt="">
                </div>
            </div>
            <div class="col s12 m6 l6">
                <h5 class="header" style="color: #016273;font-weight: bold;">About Us</h5>
                <h4 class="header" style="color:#016273;font-weight: bold;">Career Gate</h4>
                <h5 class="header" style="font-weight: bold;">Bridging the gap!!</h5>
                <p>
                Tap into trusted academic and careers advice and learn how to succeed in applications, interviews, assessment centres and post job offer guidance through our personalised chatbot (Kira), video content and virtual career and academic events.
                </p>
                <div class="row">
                <div class="col s2 m3 l3"><br>
                    <img  src="../static/img/review.png" width="100%" alt="">
                </div>
                <div class="col s10 m9 l9">
                    <p>Career Gate provides a comprehensive review and writing assistance for CV’s, Cover letters and Linkedln creation and revamping.</p>
                </div>
                </div>
                <div class="row">
                <div class="col s2 m3 l3"> <br>
                    <img src="../static/img/career (2).png" width="100%" alt="">
                </div>
                <div class="col s10 m9 l9">
                    <p>Career Gate is an online community platform that provides career and academic advice and opportunities to African students and Graduates.</p>
                </div>
                </div>
            </div>
            </div>
        </div>  
    </section>

    <section style="margin-top: 5%;" id="services">
        <div>
            <div class="center">
                <h4 style="font-weight: bold;color: #016273;">Services</h4>
            </div>
            <div style="margin-left: 10%;margin-right: 10%;padding-top: 5%;">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <div style="height: 380px;" class="card hoverable">
                            
                            <div class="card-content">
                                <h6 class="head">One on On session</h6> <br>
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">
                                    We have mentors from key sectors and leading companies that will mentor you on the steps to take with your application, interview.</p> <br>
                                    
                                <i style="color:#F9B417 ;font-size: 20px;margin-top: 3%;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">
                                    Every session is an hour-long</p>
                            </div>
                            <div style="margin-top: 5%;" class="card-action">
                                    <button style="text-decoration: none;width: 100%; height: 40px;border: none;" class="nb">100 pounds</button> <br> <br>
                                    <!-- <button style="text-decoration: none;width: 250px;border: 2px solid #F9B417 ;height: 40px;color: #F9B417;background-color: transparent;">70 pounds Masters</button> -->
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div style="height: 380px;" class="card hoverable">
                            
                            <div class="card-content">
                                <h6 class="head">Personal Statement</h6> <br>
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">
                                    3 rounds feedback</p> <br>
                                    
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">
                                    One on One meeting Consultaion</p>
                            </div>
                            <div style="margin-top: 10%;" class="card-action">
                                <button class="nb" style="text-decoration: none;width: 100%;height: 40px;border: none;">50 pounds Undergraduates</button> <br> <br>
                                <button style="text-decoration: none;width: 100%;height: 40px;" class="b">70 pounds Masters</button>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div style="height: 380px;" class="card hoverable">
                            
                            <div class="card-content">
                                <h6 class="head">LinkedIn creation and revamp</h6> <br>
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">profile rebranding</p> <br>
                                    
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%">LinkedIn summary</p>

                                <i style="color:#F9B417 ;font-size: 20px;margin-top: 5%;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%">Best use of LinkedIn features</p>

                                <i style="color:#F9B417 ;font-size: 20px;margin-top: 5%;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%">Building a touch-up strategy</p>

                                <i style="color:#F9B417 ;font-size: 20px;margin-top: 5%;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%">Profile photo touch-ups</p>
                            </div>
                            <div class="card-action">
                                    <button style="text-decoration: none;width: 100%;height: 40px;border: none;" class="nb">80 pounds </button> <br> <br>
                                    <!-- <button style="text-decoration: none;width: 250px;border: 2px solid #F9B417 ;height: 40px;color: #F9B417;background-color: transparent;">70 pounds Masters</button> -->
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col s12 m4 l4">
                        <div style="height: 380px;" class="card hoverable">
                            
                            <div class="card-content">
                                <h6 class="head">Cover letter</h6> <br>
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">
                                    2 rounds of feedback</p> <br>
                                    
                                <i style="color:#F9B417 ;font-size: 20px;margin-top: 5%;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">
                                    Job Specific optimization</p>
                            </div>
                            <div style="margin-top: 20%;" class="card-action">
                                    <button style="text-decoration: none;width: 100%;height: 40px;border: none;" class="nb">70 pounds</button> <br> <br>
                                    <!-- <button style="text-decoration: none;width: 250px;border: 2px solid #F9B417 ;height: 40px;color: #F9B417;background-color: transparent;">70 pounds Masters</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div style="height: 380px;" class="card hoverable">
                            
                            <div class="card-content">
                                <h6 class="head">Student CV</h6> <br>
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">2 rounds of feedback</p> <br>
                                    
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%">Access to top template</p>

                                <i style="color:#F9B417 ;font-size: 20px;margin-top: 5%;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%">Job specific optimization</p>

                                <i style="color:#F9B417 ;font-size: 20px;margin-top: 5%;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%">Resume writing</p>

                            </div>
                            <div style="margin-top: 5%;" class="card-action">
                                    <button style="text-decoration: none;width: 100%;height: 40px;border: none;" class="nb">75 pounds </button> <br> <br>
                                    <!-- <button style="text-decoration: none;width: 250px;border: 2px solid #F9B417 ;height: 40px;color: #F9B417;background-color: transparent;">70 pounds Masters</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div style="height: 380px;" class="card hoverable">
                            
                            <div class="card-content">
                                <h6 class="head">Graduate CV</h6> <br>
                                <i style="color:#F9B417 ;font-size: 20px;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">
                                    perfect for early career proffessionals</p> <br>
                                    
                                <i style="color:#F9B417 ;font-size: 20px;margin-top: 5%;" class="fa-solid fa-circle-check"></i>
                                <p style="margin-left: 18%;margin-top: -10%;">
                                    And those looking for quick refresh</p>
                            </div>
                            <div style="margin-top: 10%;" class="card-action">
                                    <button style="text-decoration: none;width: 100%;height: 40px;border: none;" class="nb">90 pounds</button> <br> <br>
                                    <!-- <button style="text-decoration: none;width: 250px;border: 2px solid #F9B417 ;height: 40px;color: #F9B417;background-color: transparent;">70 pounds Masters</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section style="background-color:#F5F7FC ; " id="blog">
        <div>
            <div class="center">
                <h4 style="font-weight: bold;color: #016273;padding-top:5% ;">Blog</h4>
            </div>
            <div style="margin-left: 5%;margin-right: 5%; ">
                <div style="padding-top: 3%;" class="row">
                    <div class="col s12 m8 l8 ">
                       <div style="height: 460px;" class="">
                            <div class=" row">
                                <div class="col s12 m6 l4">
                                    <img style="height: 300px;width: 100%;" src="../static/img/fredrick-tendong-13aw-Pwdeqk-unsplash.jpg" class="responsive-img" alt="">
                                    <h6 style="font-weight: bold;color: #016273;"> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h6>
                                </div>
                                <div class="col s12 m6 l8">
                                    <div class="card-content">
                                        <p style="text-align:justify;font-size: 14px;">Build a news page with our fantastic and free online magazine website template today. It is powered by Bootstrap Framework what ensures you responsiveness and simplicity. As for the latter, Magazine is easy to work with and quick to edit and tailor to your needs.</p> 

                                        <p style="text-align:justify;font-size: 14px;">No matter the topic of your news site, Magazine is here to take care of the web presence. It could be fashion, food, travel, general news or something super niche, we have a tool to help you start your online project swiftly. Drop-down menu, widget rich sidebar and footer, Instagram feed and a working contact page with Google Maps, Magazine is the template to bring your content right in front of your audience. With banner ad placement readiness, you can also start monetizing your website as quickly as you see the potential.  </p>

                                        <p style="text-align:justify;font-size: 14px;">Build a news page with our fantastic and free online magazine website template today. It is powered by Bootstrap Framework what ensures you responsiveness and simplicity. As for the latter, Magazine is easy to work with and quick to edit and tailor to your needs.</p>

                                        <p style="font-size: 12px;">7:00Am | Dec 15</p>
                                    </div>

                                  
                                </div>
                            </div>
                       </div>
                    </div>
                   
                    <div class="col s12 m4 l4">
                        
                        <ul class="collection">

                            <li class="collection-item avatar">
                                <img src="../static/img/nick-owuor-astro-nic-visuals-wDifg5xc9Z4-unsplash.jpg" alt="" class="circle">
                                <span style="color: #016273;font-weight: bold;" class="title">LinkedIn</span>
                                <p style="margin-right:2%;margin-top: -1%;font-size: 14px;font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis <br>
                                    <span style="font-weight: 200;font-size: 12px;">7:00Am | Dec 15</span>
                                     
                                </p>
                                
                            </li>
                            <li class="collection-item avatar">
                                <img src="../static/img/luis-villasmil-mlVbMbxfWI4-unsplash.jpg" alt="" class="circle">
                                <span style="color: #016273;font-weight: bold;" class="title">Cover letter</span>
                                <p style="margin-right:2%;margin-top: -1%;font-size: 14px;font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis <br>
                                    <span style="font-weight: 200;font-size: 12px;">7:00Am | Dec 15</span>
                                </p>
                                
                            </li>
                            <li class="collection-item avatar">
                                <img src="../static/img/fredrick-tendong-13aw-Pwdeqk-unsplash.jpg" alt="" class="circle">
                                <span style="color: #016273;font-weight: bold;" class="title">Job</span>
                                <p style="margin-right:2%;margin-top: -1%;font-size: 14px;font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis <br>
                                    <span style="font-weight: 200;font-size: 12px;">7:00Am | Dec 15</span>
                                </p>
                                
                            </li>
                            <li class="collection-item avatar">
                                <img src="../static/img/campaign-creators-gMsnXqILjp4-unsplash.jpg" alt="" class="circle">
                                <span style="color: #016273;font-weight: bold;" class="title">Resume</span>
                                <p style="margin-right:2%;margin-top: -1%;font-size: 14px;font-weight: 500;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis <br>
                                    <span style="font-weight: 200;font-size: 12px;">7:00Am | Dec 15</span> 
                                </p>
                                
                            </li>
                        </ul>

                       
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div>
            <div class="center">
                <h4 style="font-weight: bold;color: #016273;padding-top:5% ;">Meet Our Team</h4>
            </div>
            <div style="padding-top: 5%;">
                <div style="margin-left: 15%;margin-right: 10%;" class="row">
                    <div class="col s12 m6 l5">
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <img style="width: 200px;height: 200px;object-fit: cover;" src="../static/img/IMG-20220903-WA0027.jpg" class="responsive-img circle" alt="">
                            </div>
                            <div class="col s12 m6 l6">
                                <h6 style="font-weight: bold;font-size: 20px;">Kasiemobi Eke</h6>
                                <p style="color: #016273;font-weight: bold;">Fullstack Engineer</p>
                                <em style="font-size: 14px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, culpa?</em>
                                <ul style="margin-left: -10%;" class=" hide-on-large-only wrapper">
                                    <li class="icon facebook">
                                        <span class="tooltip">Facebook</span>
                                        <span><i class="fab fa-facebook-f"></i></span>
                                    </li>
                                    <li class="icon twitter">
                                        <span class="tooltip">Twitter</span>
                                        <span><i class="fab fa-twitter"></i></span>
                                    </li>
                                    <li class="icon instagram">
                                        <span class="tooltip">Instagram</span>
                                        <span><i class="fab fa-instagram"></i></span>
                                    </li>
                                </ul>
                            </div>
                            <div style="position:relative" class="row">
                                <ul style="position: absolute;margin-top: 35%;" class=" col s6 m6 l6 pull-l1 wrapper hide-on-med-and-down">
                                    <li class="icon facebook">
                                        <span class="tooltip">Facebook</span>
                                        <span><i class="fab fa-facebook-f"></i></span>
                                    </li>
                                    <li class="icon twitter">
                                        <span class="tooltip">Twitter</span>
                                        <span><i class="fab fa-twitter"></i></span>
                                    </li>
                                    <li class="icon instagram">
                                        <span class="tooltip">Instagram</span>
                                        <span><i class="fab fa-instagram"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col l1 s12 m1"></div>
                    <div class="col s12 m6 l5">
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <img style="width: 200px;height: 200px;object-fit: cover;" src="../static/img/carvermostardi_2021_025.jpg" class="responsive-img circle" alt="">
                            </div>
                            <div class="col s12 m6 l6">
                                <h6 style="font-weight: bold;font-size: 20px;">Jeffery Brown</h6>
                                <p style="color: #016273;font-weight: bold;">Ceative Leader</p>
                                <em style="font-size: 14px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, culpa?</em>
                                <ul style="margin-left: -10%;" class=" hide-on-large-only wrapper">
                                    <li class="icon facebook">
                                        <span class="tooltip">Facebook</span>
                                        <span><i class="fab fa-facebook-f"></i></span>
                                    </li>
                                    <li class="icon twitter">
                                        <span class="tooltip">Twitter</span>
                                        <span><i class="fab fa-twitter"></i></span>
                                    </li>
                                    <li class="icon instagram">
                                        <span class="tooltip">Instagram</span>
                                        <span><i class="fab fa-instagram"></i></span>
                                    </li>
                                </ul>
                            </div>
                            <div style="position:relative" class="row">
                                <ul style="position: absolute;margin-top: 35%;" class=" col s6 m6 l6 pull-l1 wrapper hide-on-med-and-down">
                                    <li class="icon facebook">
                                        <span class="tooltip">Facebook</span>
                                        <span><i class="fab fa-facebook-f"></i></span>
                                    </li>
                                    <li class="icon twitter">
                                        <span class="tooltip">Twitter</span>
                                        <span><i class="fab fa-twitter"></i></span>
                                    </li>
                                    <li class="icon instagram">
                                        <span class="tooltip">Instagram</span>
                                        <span><i class="fab fa-instagram"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <br>
                
            </div>
        </div>
    </section>


    <section  id="contact">
        <div class="center">
            <h4 style="font-weight: bold;color: #016273;padding-top:5% ;">Contact Us</h4>
        </div>
        <div style="margin-top: 10%;" class="row container">
            <div class="col l6 m6 s12">
                <h6 class="" style="font-weight:bolder; color: #0b2d4c;" >
                    Get in touch   
                </h6>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos similique iste aut quasi modi maiores quos fuga eum quidem suscipit?
                </p>
                <ul>
                    <li>
                        <i class="fas fa-envelope non"></i><span style="margin-left: 24px;">youremail@gmail.com</span>
                    </li><br>
                    <li>
                        <i class="fas fa-phone non"></i><span style="margin-left: 24px;">+234 913 9102 143</span>
                    </li><br>
                    <li>
                        <i class="fas fa-map-marker non"></i><span style="margin-left: 24px;">your address</span>
                    </li>
                </ul>
            </div>
            <div class="col l6 m6 s12 z-depth-2" style=" padding-top: 40px; padding-bottom: 20px; border-radius: 7px; background-color: white;">
                <div class="container">
                    <h6 style="font-weight: bolder; color: #0b2d4c">
                        Say something
                    </h6>
                    <form action="">
                        <input type="text" placeholder="Your Name" class="lop" style=" border: 1px solid #0b2d4c; padding-left: 8px; border-radius: 3px; margin-bottom: 20px;">

                        <input type="email" placeholder="Email" style=" border: 1px solid #0b2d4c; padding-left: 8px; border-radius: 3px; margin-bottom: 20px;">

                        <input type="text" placeholder="Message" style=" border: 1px solid #0b2d4c; padding-left: 8px; border-radius: 3px; padding-bottom: 40px; margin-bottom: 20px;">

                        <button style="text-decoration: none;width: 320px;height: 40px;border: none;"><a  class="nbb pol" href=""></a>Send</button>
                        
                    </form>
            </div>
        </div>
        
    </section>
    <section style="margin-top: -10rem;">
        <footer style="background-color: #016273;" class="page-footer">
            <br><br><br><br><br><br>
            <div class="container row">
                <div class="col l5 m6 s12 nol hide-on-large-only">
                    <h3>
                        logo
                    </h3>
                    <h4 style="font-weight: bold; color: white;">
                        Newsletter
                    </h4>
                    <p style=" color: white;">
                        Want to know what we are up to? Sign up for the newsletter and join us now
                    </p>
                    <div class="row">
                        <div class="col l7 m7 s7">
                            <input type="email" placeholder="Email address" style="padding-right: 23px; background-color: white;">
                        </div> 
                        <div class="col l5 m5 s5" style="padding-right: 55px;">
                            <a href="" class="btn transparent" style="padding-bottom: 20px; height: 43px; border: 2px solid white;text-decoration: none;"> Subscribe</a>
                        </div> 
                    </div>
                </div>
                <div class="col l5 m6 s12 nol hide-on-med-and-down">
                    <img width="30%" src="../static/images/career_logo.png" class="responsive-img" alt="there is an image">
                    <h4 style="font-weight: bold; color: white;">
                        Newsletter
                    </h4>
                    <p style=" color: white;">
                        Want to know what we are up to? Sign up for the newsletter and join us now
                    </p>
                    <div class="row">
                        <div class="col l7 m7 s7">
                            <input type="email" placeholder="Email address" style="padding-right: 23px; background-color: white;">
                        </div> 
                        <div class="col l5 m5 s5" style="padding-right: 5px;">
                            <a href="" class="btn transparent" style="padding-bottom: 20px; height: 46px; border: 2px solid white;"> Subscribe</a>
                        </div> 
                    </div>
                </div>
                <div class="col l1 hide-on-med-and-down ">

                </div>
                <div class="col s12 l6 m6 ">
                    <div class="row">
                        <div class="col l6 m6 s6 nol"><br>
                            <h6 style="font-weight: bold; color: white;">
                                Address
                            </h6>
                            <p style=" color: white;">
                                No: 34 Jaji Street Kubwa, Abuja, Nigeria.  
                            </p><br>
                           
                        </div>
                        <div class="col l6 m6 s6 nol"><br>
                            <h6 style="font-weight: bold; color: white;">
                                Company
                            </h6>
                            <ul>
                                <li>
                                    <a href="" style=" color: white;">Blog</a>
                                </li>
                                <li>
                                    <a href="" style=" color: white;">About Us</a>
                                </li>
                                <li>
                                    <a href="" style=" color: white;">Jobs</a>
                                </li>
                            </ul>
        
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col l6 m6 s6 nol"><br>
                            <h6 style="font-weight: bold; color: white;">
                                Contacts 
                            </h6><br>
                    
                                <i class="fas fa-phone"> </i><span style=" color: white;"> +234-913-9102-143</span><br>
                                <i class="fas fa-envelope"> </i><span style=" color: white;"> infottpservices@gmail.com</span>
                        
                        </div>   
                        <div class="col l6 m6 s6  nol">
                            <h6 style="font-weight: bold; color: white;"><br>
                                Follow us on
                            </h6>
                            <ul>
                                <li>
                                    <a href="http://instagram.com/ttpnetwork?igshid=YmMyMTA2M2Y=" class="nol"><i class="fab fa-instagram"> </i><span style=" color: white;"> Instagram</a></span></a>
                                </li>
                                <li>
                                    <a href="http://www.linkedin.com/company/ttpnetwork/" class="nol"><i class="fab fa-facebook"> </i><span style=" color: white;"> Facebook</span></a>
                                </li>
                                <li>
                                    <a href="http://www.facebook.com/tothepointnetwork/" class="nol"><i class="fab fa-linkedin"> </i><span style=" color: white;"> linked In</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div><hr>
            <div class=" center" style="padding-bottom:8px;">
                Copyright <i class="fas fa-copyright nol"></i> 2022 All rights reserved | By Career Gate
            </div>
        </footer>
    </section>


    <script src="../static/materialize/js/jquery.js"></script>
    <script src="../static/materialize/js/materialize.js"></script>
    <script>
        $('.document').ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>
