{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/scripts/landingpage.js"></script>
{% endblock head %}
{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Welcome to your number one career advancement platform.</h1>
    <img class="w-100" src="/static/images/career_logo.png" alt="company logo">
    <a href="{{ url_for('app_views.login') }}" class="btn btn-primary">Get Started</a>
  </div>

  <div class="">
  <h1><b>Services</b></h1>
      <img class="w-100" src="../static/images/resume.jpeg" alt="An image of people looking at a resume">
	  <h3 id="clear"><b>Resume Review</b></h3>
	  <p id="clear">Do you want to present an industry standard resume to your employer?<br>Let our expert assist you tailor your resume to your employer's test.</p>
  </article>
  <article class=services>
	  <img class="w-100" src="../static/images/interview.jpeg" alt="An image of an employer and employee">
	  <div>
    <h3>Interview Booking</h3>
    <p>Do you want to smash your next interview?<br>Get an industry starndard interview tailored to your specific needs.<br>Get feedbacks and tips from our experts.</p>
    </div>
  </article>
  </div>
  <article class=services>
	  <div>
    <h3>News</h3>
	    <p>Get job related news here</p>
    </div>
{% endblock content  %}
