{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="../static/styles/homepage.css"/>
{% endblock head %}
{% block content %}
{{ super() }}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center min-vh-100">
<h2>My Clients</h2>
{% for user in users %}
<a href="{{ url_for('app_views.user_details', id=user.id) }}" class="border list-group-item list-group-item-action">Joined since: {{ user.created_at }}<br>Name: {{ user.first_name }} {{ user.last_name }}</a>
{% endfor %}
</div>

{% endblock  %}
