<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Career Gates</title>
    <meta name="description" content="Brief page description">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
      <meta name="keywords" content="assistance, store">


      <link rel="shortcut icon" href="../static/images/white_logo.jpg" >

      <link rel="stylesheet" href="../static/styles/base-common.css"/>
      <link rel="stylesheet" href="../static/styles/base-header.css"/>
      <link rel="stylesheet" href="../static/styles/base-footer.css"/> 
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="/static/scripts/landingpage.js"></script>
      {% endblock head %}

  </head>
  <body>
	  {% block body %}
    <header>
      <img src="../static/images/career_logo.png" alt="company logo">

    </header>
	{% endblock body %}
	<footer>
      <p>About us</p>
      <p>Contact us</p>
      <p>Terms of service</p>
      <p>&copy; Career Gate 2023</p>
    </footer>
  </body>
</html>



