{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/resume.js"></script>
<link rel="stylesheet" href="../static/styles/homepage.css"/>
{% endblock head %}
{% block body %}
{{ super() }}
<h2>Request a Review</h2>

<p>Add a link to a google document containing your request</p>
<form id="resume">
  <label for="text"> Add link</label>
  <br>
  <textarea id="text" name="link" rows="6" cols="30"></textarea>
  <br>
  <input type="hidden" name="user_id" value="{{ user.id }}">

  <input type="submit" value="Request">
</form>

{% endblock body  %}
