{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/homepage.js"></script>
<link rel="stylesheet" href="../static/styles/homepage.css"/>
{% endblock head %}
{% block body %}
{{ super() }}
<h1>Welcome to your number one career advancement platform.</h1>

<div class="create">
  <article id="createresume">
    <h2>Request a resume review</h2>
    <p>Get an expert review of your resume</p>
  </article>

  <article id="bookinterview">
    <h2>Book an interview</h2>
    <p>Get a one and one interview session with our expert</p>
  </article>
</div>

<div class="view">
  <article id="viewresume">
    <h2>My resume</h2>
    <p>View your request</p>
  </article>

  <article id="viewinterview">
    <h2>My interviews</h2>
    <p>View your interviews</p>
  </article>
</div>

{% endblock body  %}
