{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/styles/signup.css">
<script type="text/javascript" src="/static/scripts/signup.js"></script>

{% endblock head %}

{% block body %}
{{ super() }}
  <form class="form">
	<div>Firstname  
	<input type="text" name="firstname" placeholder="Enter your first name">
	</div>
	<div>Lastname     
	<input type="text" name="lastname" placeholder="Enter your last name">
	</div>
	<div>Email
	<input type="text" name="email" placeholder="Enter your email">
	</div>
	<div>Password
	<input type="text" name="password" placeholder="Enter your password">
	</div>
  </form>
  <div class=signbutton>
    <button class="signupbutton">Signup</button>

    <p>Already have an account?</p>
  <button class="loginbutton">Login here</button>
  </div>
{% endblock body  %}
