footer {
	position: absolute;
        bottom: 0;
        background-color: white;
        height: 0px;
        width: 100%;
        text-align: center;
        /*line-height: 30px;*/
        border-top: 1px solid #CCCCCC;
}
~
