body {
	margin: 10px;
	padding: 10px;
	background: #eef;
}

/*.services {
	display: inline-block;
	flex-direction: column;
	flex: none;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	width: 100%;
	height: 600px;
	background: white;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 90px;
	border-radius: 10px;
}*/
article {
	width: 100%;
	height: 600px;
	margin-bottom: 30px;
	font-size: 20px;
	border-bottom: 2px solid #ccc;
	position: relative;
	border-radius: 4px;
}
@media only screen and (max-width: 600px) {
	article {
		height: 300px;
	}

	article div {
		font-size: 15px;
		top: 85%;
		left: 35%;
		transform: translate(-50%, -50%);
	}
}
article img {
	width: 100%;
	height: 100%;

}

article div {
	position: absolute;
        top: 85%;
        left: 35%;
	font-weight: bold;
	background: #fff;
	opacity: 0.3;
        transform: translate(-50%, -50%);
}
article section {
	top: 80%;
	left: 50%;
	background: #fff;
	position: absolute;
	height: 50px;
}


.button {
	position: relative;
	align-items: center;
}

.startbutton {
	background: #0bb;
	position: absolute;
	left: 50%;
}
	
@media only screen and (max-width: 600px) {
        article {
                height: 300px;
        }

        article div {
                font-size: 15px;
		display: block;
                top: 80%;
                left: 50%;
		width: 100%;
		padding-left: 2px;
                transform: translate(-50%, -50%);
        }
}
