/*body {
	position: relative;
}*/
form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


form input {
	margin-bottom: 60px;
}
.signbutton {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}

.signupbutton {
	margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
	form input {
		margin-bottom: 40px;
	}
	.signupbutton {
		margin-bottom: 10px;
	}
	.signbutton {
		top: 80%;
	}

}

